<link rel="stylesheet" href="/dashboard/dist/css/style.css">
<link rel="stylesheet" href="/dashboard/dist/css/vendor.css">

<header role="navigation">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ぼくのかんがえたさいきょうのれいぞうこ</a>
      </div>
    </div>
  </nav>
</header>

<%= form_tag('login') do |f| %>
  <table class="table1">
    <tr><td class="title">
      ログイン
    </td></tr>
    <% if flash[:login] != "" %>
    <tr><td>
      <div class="login_error">
        <% flash[:login].each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    </td></tr>
    <% end %>
    <tr><td class="form">
      <%= text_field :user,
                     :email,
                     :placeholder => 'メール アドレス',
                     :class => 'input1' %>
    </td></tr>
    <tr><td class="form">
      <%= password_field :user,
                         :password,
                         :placeholder => 'パスワード',
                         :class => 'input1' %>
    </td></tr>
    <tr><td class="login_button">
      <%= submit_tag "Login",
                     :class => 'button' %>
    </td></tr>
    <tr><td class="user_new">
      <a href="new" class="user_new">初めての方はこちらへ</a>
    </td></tr>
  </table>
<% end %>
