<link rel="stylesheet" href="/dashboard/dist/css/style.css">
<link rel="stylesheet" href="/dashboard/dist/css/vendor.css">

<header role="navigation">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ぼくのかんがえたさいきょうのれいぞうこ</a>
            </div>
        </div>
    </nav>
</header>

<%= form_for User.new, :url => {:action => 'user_create'} do |f| %>
  <table class="table1">
    <tr><td class="title">
      アカウントの作成
    </td></tr>
    <% if flash[:notice] != "" %>
    <tr><td>
      <div class="error_box">
        <div class="error_header">
          <%= flash[:notice].size %>件のエラーがあります。
        </div>
        <div class="error_content">
            <% flash[:notice].each do |msg| %>
              <%= msg %><br>
            <% end %>
        </div>
      </div>
    </td></tr>
    <% end %>
    <tr><td class="form">
      <%= f.text_field :name,
                       :placeholder => '名前:',
                       :class => 'input2'%>
    </td></tr>
    <tr><td class="form">
      <%= f.text_field :email,
                       :placeholder => "メールアドレス:",
                       :class => 'input2' %>
    </td></tr>
    <tr><td class="form">
      <%= f.password_field :password,
                       :placeholder => "パスワード:",
                       :class => 'input2' %>
    </td></tr>
    <tr><td class="create_button">
      <%= f.submit "アカウントの作成",
                   :class => 'button' %>
    </td></tr>
    <tr><td class="user_new">
      <a href="login" class="user_new">ログインページに戻る</a>
    </td></tr>
  </table>
<% end %>
