<header role="navigation">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ぼくのかんがえたさいきょうのれいぞうこ</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<link rel="stylesheet" href="/dashboard/dist/css/style.css">
<link rel="stylesheet" href="/dashboard/dist/css/vendor.css">

<div class="box1">
  <div class="title">
    ユーザ Profile
  </div>

  <table class="table2">
    <% if flash[:notice] != "" %>
      <tr><td colspan="2">
        <div class="login_error">
          <% flash[:notice].each do |msg| %>
            <%= msg %><br>
          <% end %>
        </div>
      </td></tr>
    <% end %>

    <%= form_tag('profile') do |f| %>
      <tr>
        <td class="header">
          名前:
        </td>
        <td>
          <%= text_field :user,
                         :name,
                         :placeholder => '名前',
                         :class => 'input1',
                         :value => @user[:name] %>
        </td>
      </tr>
      <tr>
        <td class="header">
          メールアドレス:
        </td>
        <td>
          <%= text_field :user,
                         :email,
                         :placeholder => 'メールアドレス',
                         :class => 'input1',
                         :value => @user[:email] %>
        </td>
      </tr>
      <tr>
        <td class="header">
          新しいパスワード:
        </td>
        <td>
          <%= password_field :user,
                             :password,
                             :placeholder => 'パスワード',
                             :class => 'input1'%>
        </td>
      </tr>
      <tr>
        <td class="header">
          パスワードの再入力:
        </td>
        <td>
          <%= password_field :user,
                             :re_password,
                             :placeholder => 'パスワードの再入力',
                             :class => 'input1' %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= submit_tag "save",
                         :class => 'button save' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
