<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ぼくのかんがえたさいきょうのれいぞうこ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/dashboard/dist/css/style.css">
    <link rel="stylesheet" href="/dashboard/dist/css/vendor.css">
</head>

<body>
    <header role="navigation">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ぼくのかんがえたさいきょうのれいぞうこ</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>ぼくれい</h1>

        <div id="fridge-list" class="panel panel-default">
            <spinner :size="lg" text="Loading..." v-ref:loading-spinner :fixed="true"></spinner>
            <div v-cloak>
                <alert :show.sync="showAlert.error.genericApi" :duration="3000" type="danger" width="400px" placement="top-right" dismissable>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <strong>APIエラー</strong>
                    <p>ユーザー冷蔵庫情報の取得に失敗しました</p>
                </alert>

                <alert :show.sync="showAlert.error.suggestApi" :duration="3000" type="danger" width="400px" placement="top-right" dismissable>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <strong>APIエラー</strong>
                    <p>おすすめ料理情報の取得に失敗しました</p>
                </alert>

                <alert :show.sync="showAlert.error.auth" :duration="3000" type="danger" width="400px" placement="top-right" dismissable>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <strong>認証エラー</strong>
                    <p>認証に失敗したか未ログインです</p>
                </alert>

                <alert :show.sync="showAlert.success.delete" :duration="3000" type="success" width="400px" placement="top-right" dismissable>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <strong>削除しました</strong>
                    <p>{{ deleteCandidate.name }} は正常に削除されました</p>
                </alert>

                <alert :show.sync="showAlert.success.update" :duration="3000" type="success" width="400px" placement="top-right" dismissable>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <strong>更新しました</strong>
                    <p>{{ datatoedit.data.name }} は正常に更新されました</p>
                </alert>

                <modal :show.sync="showModal.confirmDelete" title="確認" small="true" effect="zoom">
                    <div slot="modal-body" class="modal-body">
                        {{ deleteCandidate.name }} を削除してもよろしいですか？
                    </div>
                    <div slot="modal-footer" class="modal-footer">
                        <spinner :size="lg" text="Please wait..." v-ref:deleting-spinner></spinner>
                        <button type="button" class="btn btn-default" @click='showModal.confirmDelete = false'>キャンセル</button>
                        <button type="button" class="btn btn-danger" @click='deleteItem'>削除</button>
                    </div>
                </modal>

                <modal :show.sync="showModal.view" effect="fade">
                    <div slot="modal-header" class="modal-header">
                        <h4 class="modal-title">詳細 - {{ datatoview.name }}</h4>
                    </div>
                    <div slot="modal-body" class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>ID</h4>
                                    <p>{{datatoview.id}}</p>
                                    <h4>名称</h4>
                                    <p>{{datatoview.name}}</p>
                                    <h4>賞味期限</h4>
                                    <p>{{datatoview.pretty.expiration_date}}</p>
                                    <p v-if="datatoview.pretty.expiration > -1">(あと{{datatoview.pretty.expiration}}日)</p>
                                    <p v-else class="text-danger">({{ -(datatoview.pretty.expiration) }}日経過)</p>
                                </div>
                                <div class="col-md-6">
                                    <h4>作成日時</h4>
                                    <p>{{datatoview.created_at}}</p>
                                    <h4>更新日時</h4>
                                    <p>{{datatoview.updated_at}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>メモ</h4>
                                    <p>{{datatoview.memo}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div slot="modal-footer" class="modal-footer">
                        <button type="button" class="btn btn-default" @click='showModal.view = false'>閉じる</button>
                    </div>
                </modal>

                <modal :show.sync="showModal.edit" effect="fade">
                    <div slot="modal-header" class="modal-header">
                        <h4 class="modal-title">編集 - {{ datatoedit.data.name }}</h4>
                    </div>
                    <div slot="modal-body" class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" v-model="datatoedit.data.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">賞味期限</label>
                                <div class="col-sm-10">
                                    <datepicker :value.sync="datatoedit.data.expiration" format="yyyy/MM/dd"></datepicker>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">メモ</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="3" v-model="datatoedit.data.memo"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div slot="modal-footer" class="modal-footer">
                        <spinner :size="lg" text="Saving..." v-ref:saving-spinner></spinner>
                        <button type="button" class="btn btn-default" @click='showModal.edit = false'>閉じる</button>
                        <button type="button" class="btn btn-success" @click='updateItem'>保存</button>
                    </div>
                </modal>

                <sidebar :show.sync="showAside" placement="right" header="Notification" :width="400">
                    <div v-if="asideData.length > 0" class="bs-callout bs-callout-danger">
                        <h4>賞味期限5日以内の食材</h4>
                        <ul v-for="(i, fridge) in asideData">
                            <li>
                                <a href="#" v-on:click.stop.prevent="setModalDataAndShow(asideData[i])">{{fridge.name}}</a>
                                <span v-if="fridge.pretty.expiration < 0" class="label label-danger">{{-(fridge.pretty.expiration)}}日経過</span>
                                <span v-if="fridge.pretty.expiration < 3 && fridge.pretty.expiration >= 0" class="label label-warning">あと{{fridge.pretty.expiration}}日</span>
                                <span v-if="fridge.pretty.expiration <= 5 && fridge.pretty.expiration >= 3" class="label label-success">あと{{fridge.pretty.expiration}}日</span>
                            </li>
                        </ul>
                    </div>

                    <div v-for="suggest in suggestData" class="bs-callout bs-callout-info">
                        <h4>おすすめ料理</h4>
                        <ul v-for="ingredient in suggest.ingredients">
                            <li>{{ ingredient }}</li>
                        </ul>
                        を使って
                        <mark>{{ suggest.name }}</mark>が作れます！
                        <br>
                        <a href="http://www.google.com/search?q={{suggest.name}}+作り方" target="_blank">Googleで作り方を検索</a>
                    </div>

                    <div class="aside-footer">
                        <button type="button" class="btn btn-default" @click="showAside=false">閉じる</button>
                    </div>
                </sidebar>
            </div>

            <div class="panel-heading" v-cloak>
                <h3 class="panel-title">れいぞうこのなかみ</h3>
            </div>
            <div class="panel-body" v-cloak>

                <div class="container-fluid">
                    <div class="row">
                        <!--
                        <div class="col-md-5">
                            <div class="form-inline form-group">
                                <label>Search:</label>
                                <input v-model="searchFor" class="form-control" @keyup.enter="setFilter">
                                <button class="btn btn-primary" @click="setFilter">Go</button>
                                <button class="btn btn-default" @click="resetFilter">Reset</button>
                            </div>
                        </div>
                        -->
                        <div class="col-md-6">
                            <div class="dropdown form-inline">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>表示件数:</label>
                                        <select class="form-control" v-model="perPage">
                                            <option value=10>10</option>
                                            <option value=15>15</option>
                                            <option value=20>20</option>
                                            <option value=25>25</option>
                                        </select>
                                        件
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <button class="btn btn-primary btn-lg" v-on:click="newItem"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                <button class="btn btn-success btn-lg" v-on:click="showAside = true"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <vuetable api-url="/api/fridges" :fields="columns" :item-actions="itemActions" data-path="fridges" pagination-path="pagination" table-class="table table-bordered table-striped table-hover" ascending-icon="glyphicon glyphicon-chevron-up" descending-icon="glyphicon glyphicon-chevron-down" paginationComponent="vuetable-pagination" pagination-class="" pagination-info-class="" pagination-component-class="" pagination-info-template="{total} 件中 {from} 〜 {to} 件を表示中" :per-page="perPage" v-ref:fridge-table></vuetable>
                    </div>
                </div>
            </div>
        </div>

        <div id="item-selector" class="panel panel-default" v-cloak>

            <alert :show.sync="showAlert.error.genericApi" :duration="3000" type="danger" width="400px" placement="top-right" dismissable>
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>APIエラー</strong>
                <p>カテゴリー取得に失敗しました</p>
            </alert>

            <alert :show.sync="showAlert.error.addItem" :duration="3000" type="danger" width="400px" placement="top-right" dismissable>
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>APIエラー</strong>
                <p>新規登録に失敗しました</p>
            </alert>

            <alert :show.sync="showAlert.success.addItem" :duration="3000" type="success" width="400px" placement="top-right" dismissable>
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>登録成功</strong>
                <p>新規登録に成功しました</p>
            </alert>

            <modal :show.sync="showDetail" cancel-text="閉じる" ok-text="新規作成" :callback="saveCandidate" effect="fade">
                <div slot="modal-header" class="modal-header">
                    <h4 class="modal-title">{{ candidateIngredient.name}}</h4>
                </div>
                <div slot="modal-body" class="modal-body">
                    <spinner :size="lg" text="Saving..." v-ref:saving-spinner></spinner>
                    <div class="form-group">
                        <label>名称</label>
                        <input type="text" name="name" class="form-control" v-model="candidateIngredient.name" placeholder="例: パン">
                    </div>
                    <div class="form-group">
                        <label>賞味期限</label>
                        <datepicker :value.sync="candidateIngredient.date" format="yyyy/MM/dd">
                        </datepicker>
                    </div>
                    <div class="form-group">
                        <label>メモ</label>
                        <textarea class="form-control" rows="3" v-model="candidateIngredient.memo"></textarea>
                    </div>
                </div>
            </modal>

            <div class="panel-heading">
                <h3 class="panel-title">れいぞうこにいれるもの</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="form-search">
                            <input type="text" class="form-control search-query" placeholder="検索..." v-model="searchFor"/>
                        </div>
                        <div id="category-selector" class="list-group">
                            <a class="list-group-item" href="#" v-for="category in categories" v-on:click.stop.prevent="select" data-mf-selector-id="{{category.id}}">{{ category.name }}</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div id="ingredient-selector" class="panel panel-default">
                            <spinner :size="lg" text="Loading..." v-ref:ingredient-spinner></spinner>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-3" v-for="ingredient in ingredients | filterBy searchFor in 'name'" transition="ing-fade">
                                        <a href="#" class="ingredient-item" v-on:click.stop.prevent="openDetail" data-mf-ingredient-id="{{ ingredient.id }}">
                                            <img v-bind:src="img(ingredient.name)" class="img-circle">
                                            <h1>{{ ingredient.name }}</h1>
                                            <span class="label">{{ ingredient.expiration }} 日</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/dashboard/dist/js/_vendor.js"></script>
    <script src="/dashboard/dist/js/app.js"></script>
</body>

</html>