body {
  height: 100%;
  width: 100%;
}

table.table1 {
  height: 450px;
  width: 400px;
  text-align: center;
  margin: 100px auto 0px;
  background-color: #5ba7e6;
  padding: 10px 0;
  border-radius: 8px;
  border-collapse: separate;
}
table.table2 {
  width: 80%;
  margin: 40px auto;
  border-collapse: separate;
  border-spacing: 15px;
}


td.form {
  font-size: 1.1em;
}
td.login_button {
  width: 400px;
}
td.create_button {
  width: 400px;
}
td.user_new {
  text-align: right;
  width: 400px;
}
a.user_new {
  color: #ffffff;
  padding-right: 20px;
}
td.title {
  color: #ffffff;
  font-size: 2em;
}
td.header {
  font-size: 1.3em;
  color: #ffffff;
}

input.input1 {
  text-align: center;
  border-radius: 5px;
  height: 2em;
  font-size: 1.3em;
  padding: 10px 5px;
  width: 80%;
}
input.input2 {
  width:80%;
  padding: 1px 10px;
  font-size: 1.1em;
  border-radius: 5px;

}
input.button {
  width: 60%;
  border-top: 1px solid #96d1f8;
  background: #6cbef5;
  padding: 2px 10px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.4em;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
input.button:active {
  border-top-color: #3e81ad;
  background: #3e81ad;
}
input.save {
  margin-top: 35px;
}

div.error_box {
  text-align: center;
  margin: 10px auto;
  width: 80%;
  border: solid 1px;
  border-radius: 5px;
  background-color: #ffffff;
}
div.error_header {
  border-bottom: solid 1px;
  padding: 4px 4px 4px 10px;
  background-color: #ff0000;
  color: #ffffff;
}
div.error_content {
  padding: 10px;
  width: 100%;
}
div.login_error {
  font-size: 1.3em;
  font-style: bold;
  color: #ff0000;
}

div.box1 {
  margin: 100px auto 0px;
  text-align: center;
  border: solid 1px;
  background-color: #5ba7e6;
  width: 700px;
  height: 450px;
}

div.title {
  position: relative;
  top: -20px;
  left: 8%;
  font-size: 2em;
  /* padding-left: 20px; */
  border: solid 1px;
  text-align: center;
  width: 40%;
  background-color: #ffffff;
}
