body {
    overflow-y: auto !important;
}

header {
    .navbar {
        background-color: #ff7f50;
        color: #fff;
        .navbar-brand {
            color: #fff;
        }
        .navbar-nav > li > a {
            color: #fff;
        }
    }
}

[v-cloak] {
    display: none;
}

.new-btn {
    width: 100%;
}

.ing-fade-transition {
    transition: all .5s ease;
    transform: scale(1);
}

.ing-fade-enter,
.ing-fade-leave {
    transform: scale(0);
}

input.search-query {
    padding-left: 26px;
}

div.form-search {
    position: relative;
    &:before {
        display: block;
        width: 14px;
        height: 14px;
        content: "\e003";
        font-family: 'Glyphicons Halflings';
        background-position: -48px 0;
        position: absolute;
        top: 8px;
        left: 8px;
        opacity: .5;
        z-index: 1000;
    }
}

#category-selector {
    margin-top: .5em;
}

#ingredient-selector {
    .panel-body {
        padding: 7px 25px;
        .row>div {
            padding: 8px;
        }
    }

    .ingredient-item {
        background: rgb(245, 245, 245);
        display: block;
        border-radius: 4px;
        padding: 5px 0px;
        text-align: center;
        vertical-align: middle;
        position: relative;
        height: 130px;
        &:hover {
            text-decoration: none;
            background-color: rgb(221, 221, 221);
        }
        h1 {
            font-size: 28px;
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            margin: 0px;
            width: 100%;
            position: absolute;
            bottom: 0px;
        }
        h4 {
            margin: 0 auto;
        }
        img {
            display: inline-block;
            height: 100%;
        }
        .label {
            position: absolute;
            top: 10px;
            right: 10px;
            background: #5bc0de;
        }
    }
}

.vuetable-actions {
    width: 11%;
    padding: 12px 0px;
    text-align: center;
    & > button {
        padding: 3px 6px;
        margin-right: 4px;
    }
}

.vuetable-pagination {
    margin: 0;
    btn {
        margin: 2px;
    }
}

.vuetable-pagination-info {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

ul.pagination {
    margin: 0px;
}

.vuetable-pagination-component {
    float: right;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}